{% extends 'base_admin.html' %}
{% block content %}
{% raw %}
<div id="contest">
  <div class="content">
    <div class="row">
      <div class="col s12">
        <div class="table">
          <table class="centered highlight" id="tabel">
            <thead>
              <tr>
                <th>Название соревнования</th>
                <th>Тип соревнования</th>
                <th>Дата регистрации</th>
                <th>Дата проведения</th>
                <th>Дата окончания</th>
                <th>Статус</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
    
            <tbody class="centered">
              <tr v-for="contest in contests" v-bind:key="contest.id">
                <td>{{contest.name_contest}}</td>
                <td>{{contest.type | typeSelectContest}}</td>
                <td>{{contest.datetime_registration | dateFilter()}}</td>
                <td>{{contest.datetime_start | dateFilter()}}</td>
                <td>{{contest.datetime_end | dateFilter()}}</td>
                <td>{{contest.state_contest | stateSelectContest}}</td>
                <td>
                  <a class="waves-effect waves-teal btn-flat" v-on:click="openPageFormUpdate(contest.id)"><i class="tiny material-icons">border_color</i></a>
                  <a class="waves-effect waves-teal btn-flat" v-on:click="deleteContest(contest.id)"><i class="tiny material-icons">clear</i></a>
                  <a class="waves-effect waves-teal btn-flat" v-on:click="openWindowTask(contest.id)"><i class="tiny material-icons">library_add</i></a> 
                </td>
                <td>
                  <a class="waves-effect waves-teal btn-flat" v-on:click="registrationUsers(contest.id, contest.type)"><i class="tiny material-icons">border_color</i></a>
                  <!--<a class="waves-effect waves-teal btn-flat" v-on:click="deleteContest(contest.id)"><i class="tiny material-icons">clear</i></a>-->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons" v-on:click="openPageForm()">add_circle</i>
    </a>
  </div>
  <div class="modal" id="teamModel">
    <div class="modal-content" >
      <h4>Выбирите участников</h4>
      <div class="row" v-if="!isTeam">
        <div class="col s6">
          <div class="table">
            <table class="centered highlight" id="tabel">
              <thead>
                <tr>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                </tr>
              </thead>
      
              <tbody class="centered">
                <tr v-for="user in selectUsers" v-bind:key="user.id" v-on:click="selectRowUserContest(user)">
                  <td>{{user.id}}</td>
                  <td>{{user.sename}}</td>
                  <td>{{user.name}}</td>
                  <td>{{user.secondname}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col s6">
          <div class="container" id="listUsers">
            <div class="collection">
              <a href="#!" class="collection-item" v-for="user in users" v-bind:key="user.id" v-on:click="deleteUserContest(user)">{{user.sename}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row" v-else>
        <div class="col s6">
          <div class="table">
            <table class="centered highlight" id="tabel">
              <thead>
                <tr>
                    <th>ID</th>
                    <th>Название команды</th>
                    <th>Участники команды</th>
                </tr>
              </thead>
      
              <tbody class="centered">
                <tr v-for="team in selectTeams" v-bind:key="team.id" v-on:click="selectRowTeamContest(team)">
                  <td>{{team.id}}</td>
                  <td>{{team.name_team}}</td>
                  <td>{{team.users | convertUsers}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col s6">
          <div class="container" id="listUsers">
            <div class="collection">
              <a href="#!" class="collection-item" v-for="team in teams" v-bind:key="team.id" v-on:click="deleteTeamContest(team)">{{team.name_team}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect light-blue darken-2 btn" v-on:click="agreaRegUsers">Подтвердить</a>
    </div>
  </div>
  <!--<div id="modalSelectReport" class="modal">
    <div class="modal-content">
      <h4>Создание отчета</h4>
      <div class="row">
        <form class="col s12 form-table">
          <div class="row">
            <div class="col s6 file-field input-field">
              <div class="btn select_file" v-on:click="openPathFile">
                  <span>Путь к файлу</span>
                  <input type="hidden">
              </div>
              <div class="file-path-wrapper">
                  <input class="file-path" type="text" v-model="genereteReport.pathFile">
              </div>
            </div>
            <div class="input-field col s6">
              <input type="text" placeholder="Название файла" v-model="genereteReport.nameFile">
              <label for="timepickerStart">Название файла</label>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col s4" 
        v-for="typeRep in typeReport" 
        v-bind:key="typeRep" 
        v-on:click="selectTypeReport(typeRep)">
          <div class="type__report z-depth-3" :class="isSelectedTypeReport(typeRep)">
            <h2 class="center">
              <i class="material-icons large">insert_drive_file</i>
            </h2>
            <h5 class="center">
              Формат {{typeRep}}
            </h5>
          </div>
        </div>          
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect light-blue darken-2 btn" v-on:click="agreaReport">Подтвердить</a>
    </div>
  </div>-->
</div>
<script type="text/javascript" src="../File/js/contest.js"></script>
{% endraw %}
{% endblock %}