{% extends 'base_user.html' %}
{% block content %}
{% raw %}
    <div class="row" id="main">
        <div class="col s2 deep-orange accent-4 nav__left">
            <div class="row ">
                <div class="container">
                    <img src="../File/image/logo.png" alt="" class="circle responsive-img">
                </div>
            </div>
            <div class="row ">
                <h5 class="center-align header__name">{{contest.nameContest}}</h5>
            </div>
            <div class="section ">
                <ul class="collection with-header">
                    <a href="#" v-for="(task, key) in tasks" v-bind:key="key" v-on:click="selectRowTask(key)">
                        <li class="collection-item">
                            <span class="secondary-content" id="total">{{task.last_answer}}</span>{{task.type_task | typeTaskFilter}}  {{task.name}}
                        </li>
                    </a>
                </ul>
            </div>
            <div class="section">
                <p class="time__con">Зарегестрированн: {{contest.timeRegistration}}</p>
                <p class="time__con">Старт: {{contest.timeStart}}</p>
                <p class="time__con">Финишь: {{contest.timeEnd}}</p>
                <p class="time__con">Длительность: {{timeСontinuation}}</p>
            </div>
            <div class="row">
                <h5 class="center-align timer">{{timerShow}}</h5>
                <div class="col s6 center">
                    <a class="waves-effect waves-light btn" :disabled="isClose">Обявления</a>
                </div>
                <div class="col s6 center">
                    <a class="waves-effect waves-light btn" v-on:click="buttonCloseContest" :disabled="isClose">Завершить</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <a class="waves-effect waves-light btn" v-on:click="ExitContest"><i class="left material-icons">exit_to_app</i>Выход</a>
                </div>
            </div>
        </div>

        
        <div class="fixed-action-btn" v-on:click="openPackageWindow" :disabled="isClose">
            <a class="btn-floating btn-large waves-effect waves-light">
              <i class="large material-icons">chat</i>
            </a>
        </div>


        <div class="col s2" style="height: 100vh;"> </div>
        <div class="col s8 offset-s1">
            <div class="row">
                <h5 class="name__task left-align">{{selectTask.name_task}}</h5>
                <div class="container">
                    <table class="highlight">
                        <tbody>
                          <tr>
                            <td>Ограничение времени</td>
                            <td>Ограничение памяти</td>
                            <td>Ввод</td>
                            <td>Вывод</td>
                          </tr>
                          <tr>
                            <td id="timeWork">{{selectTask.time_work}} секунда</td>
                            <td id="sizeRaw">{{selectTask.size_raw}} Mb</td>
                            <td id="typeInput">{{selectTask.type_input | typeInputFilter}}</td>
                            <td id="typeOutput">{{selectTask.type_output | typeOutputFilter}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="row">
                <p class="op__task" v-html="selectTask.description">
                    
                </p>
            </div>
            <div class="row">
                <h5 class="h__task left-align">Формат ввода</h5>
                <p class="op__task" v-html="selectTask.description_input"></p>
            </div>
            <div class="row">
                <h5 class="h__task left-align">Формат вывода</h5>
                <p class="op__task" v-html="selectTask.description_output"></p>
            </div>

            <div id="example">
                <div class="row" v-for="(item, index) in selectTask.view_test">
                    <h5 class="h__task left-align">Пример {{index+1}}</h5>
                    <div class="tabel__box">
                        <table>
                            <thead>
                            <tr>
                                <th>Ввод</th>
                                <th>Вывод</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td v-html="examplePrint(selectTask.view_test[index].filling_type_variable)"></td>
                                <td v-html="examplePrint(selectTask.view_test[index].answer)"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="input__cont">
                <div class="row">
                    <table class="centered">
                        <thead>
                          <tr>
                              <th>Условия</th>
                              <th>Необходимые тесты</th>
                          </tr>
                        </thead>
                
                        <tbody class="centered" id="test_tabel">
                            <tr v-for="table in selectTask.view_settings">
                                <td>{{table.limitation_variable}}</td>
                                <td>{{table.necessary_test}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="input__cont">
                <div class="row">
                    <div class="col s4">
                        <form action="#">
                            <div class="row">
                                <select class="browser-default" v-model="compileter">
                                    <option v-for="compilation in compilations" :value="compilation.id">{{compilation.name}}</option>
                                </select>
                            </div>
                            <div class="file-field input-field">
                                <div class="btn select_file" v-on:click="openFile" :disabled="isClose">
                                    <span>Файл с программой</span>
                                    <input type="hidden">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" v-model="file">
                                </div>
                            </div>
                            <a class="waves-effect waves-light btn deep-orange accent-4 col s4 sendAnswer" type="button" :disabled="!isSend" v-on:click="addAnswer">Отправить</a>
                            <p class="col s6 info__num">осталось {{numberShipments}} попыток</p>
                        </form>
                    </div>
                </div>
            </div>

            <div class="input__cont">
                <div class="row">
                    <table class="centered">
                        <thead>
                          <tr>
                              <th>Время отправки</th>
                              <th>ID</th>
                              <th>Пользователь</th>
                              <th>№ Задачи</th>
                              <th>Компилятор</th>
                              <th>Итог</th>
                              <th>Время</th>
                              <th>Память</th>
                              <th>№ Тест</th>
                              <th>Баллы</th>
                              <th>Отчет</th>
                          </tr>
                        </thead>
                
                        <tbody class="centered">
                            <tr v-for="answer in answers">
                                <td>{{answer.date_send }}</td>
                                <td>{{answer.id}}</td>
                                <td>{{answer.name_user}}</td>
                                <td>{{answer.name_task}}</td>
                                <td>{{answer.name_compilation}}</td>
                                <td>{{answer.total}}</td>
                                <td>{{answer.time}}</td>
                                <td>{{answer.memory_size}} Mb</td>
                                <td>{{answer.number_test}}</td>
                                <td>{{answer.points}}</td>
                                <td><a class="waves-effect waves-light btn deep-orange accent-4" type="button" v-on:click="loadReport(answer.id)">отчет</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../File/js/userVue/main.js"></script>
{% endraw %}
{% endblock %}