{% extends 'base_admin.html' %}
{% block nav_content %}{% endblock %}
{% block content %}
{% raw %}
<div id="team">
    <div class="row">
      <div class="container">
        <div class="col s12">
          <div class="table">
            <table class="centered highlight">
              <thead>
                <tr>
                    <th>Участники</th>
                    <th>Имя команды</th>
                    <th></th>
                </tr>
              </thead>
      
              <tbody class="centered">
                <tr v-for="team in teams" v-bind:key="team.id">
                  <td>{{team.users | convertUsers}}</td>
                  <td>{{team.name_team}}</td>
                  <td>
                    <a class="waves-effect waves-teal btn-flat" v-on:click="openPageFormUpdate(team.id)"><i class="tiny material-icons">border_color</i></a>
                    <a class="waves-effect waves-teal btn-flat" v-on:click="deleteTeam(team.id)"><i class="tiny material-icons">clear</i></a>      
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons" v-on:click="openPageForm()">add_circle</i>
      </a>
    </div>
</div>
<script type="text/javascript" src="../File/js/team.js"></script>
{% endraw %}
{% endblock %}