{% extends 'base_admin.html' %}
{% block nav_content %}{% endblock %}
{% block content %}
{% raw %}
<div id="user">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="table">
          <table class="centered highlight" id="tabel">
            <thead>
              <tr>
                  <th>Логин</th>
                  <th>Фамилия</th>
                  <th>Имя</th>
                  <th>Отчество</th>
                  <th>Класс</th>
                  <th>Tип</th>
                  <th></th>
              </tr>
            </thead>
    
            <tbody class="centered">
              <tr v-for="user in users" v-bind:key="user.id">
                <td>{{user.login}}</td>
                <td>{{user.sename}}</td>
                <td>{{user.name}}</td>
                <td>{{user.secondname}}</td>
                <td>{{user.data.learning_stage}}</td>
                <td>{{user.type | typeUser}}</td>
                <td>
                  <a class="waves-effect waves-teal btn-flat" v-on:click="openPageFormUpdate(user.id)"><i class="tiny material-icons">border_color</i></a>
                  <a class="waves-effect waves-teal btn-flat" v-on:click="deleteUser(user.id)"><i class="tiny material-icons">clear</i></a>      
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons" v-on:click="openPageForm()">add_circle</i>
    </a>
  </div>
</div>
<script type="text/javascript" src="../File/js/user.js"></script>
{% endraw %}
{% endblock %}