<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="./File/css/main.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="./File/css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript" src="/eel.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Админ панель</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Добавить участника</a></li>
            <li><a href="#">Добавить событие</a></li>
            <li><a href="#">Список событий</a></li>
            <li><a href="#">Список акаунтов</a></li>
          </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <h5>Админ панель</h5>
        </div>
    </div>
    <script type="text/javascript" src="./File/js/materialize.min.js"></script>
    <script type="text/javascript" src="./File/js/main.js"></script>
  </body>
</html>