  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="./File/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="./File/css/main.css"/>
      <script type="text/javascript" src="/eel.js"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <div class="row header" style="height:100px;">
        <h5 class="center-align header_text">Вход</h5>
      </div>
      <div class="row">
        <form class="col s6 offset-s3">
          <div class="row">
            <div class="input-field">
              <input id="login" type="text" class="validate">
              <label for="login">Login</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <input id="password" type="text" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <h5 class="left-align error_text" id="error"></h5>
          </div>
          <div class="row">
            <a class="waves-effect waves-light btn deep-orange accent-4" id="signin" type="button">Вход</a>
            <a class="waves-effect waves-light btn deep-orange accent-4" >Отмена</a>
          </div>
        </form>
      </div>
      
      <script type="text/javascript" src="./File/js/materialize.min.js"></script>
      <script type="text/javascript" src="./File/js/login.js"></script>
    </body>
  </html>