<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="./File/css/main.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="./File/css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="./File/js/vue.js"></script>
    <title>Main</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="row" id="main">
        <div class="col s2 deep-orange accent-4 nav__left">
            <div class="row ">
                <div class="container">
                    <img src="./File/image/logo.png" alt="" class="circle responsive-img">
                </div>
            </div>
            <div class="row ">
                <h5 class="center-align header__name">{{contest.nameContest}}</h5>
            </div>
            <div class="section ">
                <ul class="collection with-header">
                    <a href="#" v-for="task in tasks" v-bind:key="task.id" v-on:click="selectRowTask(task)">
                        <li class="collection-item">
                            <span class="secondary-content" id="total">{{menuView(task.id)}}</span>{{task.type_task | typeTaskFilter}}  {{task.name_task}}
                        </li>
                    </a>
                </ul>
            </div>
            <div class="section">
                <p class="time__con">Зарегестрированн: {{contest.timeRegistration}}</p>
                <p class="time__con">Старт: {{contest.timeStart}}</p>
                <p class="time__con">Финишь: {{contest.timeEnd}}</p>
                <p class="time__con">Длительность: {{timeСontinuation}}</p>
            </div>
            <div class="row">
                <h5 class="center-align timer">{{timerShow}}</h5>
                <div class="col s6 center">
                    <a class="waves-effect waves-light btn" :disabled="isClose">Обявления</a>
                </div>
                <div class="col s6 center">
                    <a class="waves-effect waves-light btn" v-on:click="buttonCloseContest" :disabled="isClose">Завершить</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <a class="waves-effect waves-light btn" v-on:click="ExitContest"><i class="left material-icons">exit_to_app</i>Выход</a>
                </div>
            </div>
        </div>

        
        <div class="fixed-action-btn" v-on:click="openPackageWindow" :disabled="isClose">
            <a class="btn-floating btn-large waves-effect waves-light">
              <i class="large material-icons">chat</i>
            </a>
        </div>


        <div class="col s2" style="height: 100vh;"> </div>
        <div class="col s8 offset-s1">
            <div class="row">
                <h5 class="name__task left-align">{{selectTask.nameTask}}</h5>
                <div class="container">
                    <table class="highlight">
                        <tbody>
                          <tr>
                            <td>Ограничение времени</td>
                            <td>Ограничение памяти</td>
                            <td>Ввод</td>
                            <td>Вывод</td>
                          </tr>
                          <tr>
                            <td id="timeWork">{{selectTask.timeWork}} секунда</td>
                            <td id="sizeRaw">{{selectTask.sizeRaw}} Mb</td>
                            <td id="typeInput">{{selectTask.typeInput | typeInputFilter}}</td>
                            <td id="typeOutput">{{selectTask.typeOutput | typeOutputFilter}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="row">
                <p class="op__task" >
                    {{selectTask.description}}
                </p>
            </div>
            <div class="row">
                <h5 class="h__task left-align">Формат ввода</h5>
                <p class="op__task">{{selectTask.descriptionInput}}</p>
            </div>
            <div class="row">
                <h5 class="h__task left-align">Формат вывода</h5>
                <p class="op__task">{{selectTask.descriptionOutput}}</p>
            </div>
            <div id="example">
                <div class="row" v-for="(item, index) in selectTask.taskView.example.filling_type_variable">
                    <h5 class="h__task left-align">Пример {{index+1}}</h5>
                    <div class="tabel__box">
                        <table>
                            <thead>
                            <tr>
                                <th>Ввод</th>
                                <th>Вывод</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td v-html="examplePrint(selectTask.taskView.example.filling_type_variable[index])"></td>
                                <td v-html="examplePrint(selectTask.taskView.example.answer[index])"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="input__cont">
                <div class="row">
                    <table class="centered">
                        <thead>
                          <tr>
                              <th>Условия</th>
                              <th>Необходимые тесты</th>
                          </tr>
                        </thead>
                
                        <tbody class="centered" id="test_tabel">
                            <tr v-for="table in selectTask.taskView.test">
                                <td>{{table.str_limited}}</td>
                                <td>{{table.necessary_test}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="input__cont">
                <div class="row">
                    <div class="col s4">
                        <form action="#">
                            <div class="row">
                                <select class="browser-default" v-model="compileter">
                                    <option v-for="compilation in compilations" :value="compilation.id">{{compilation.name_compilation}}</option>
                                </select>
                            </div>
                            <div class="file-field input-field">
                                <div class="btn select_file" v-on:click="openFile" :disabled="isClose">
                                    <span>Файл с программой</span>
                                    <input type="hidden">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" v-model="file">
                                </div>
                            </div>
                            <a class="waves-effect waves-light btn deep-orange accent-4 col s4 sendAnswer" type="button" :disabled="!isSend" v-on:click="addAnswer">Отправить</a>
                            <p class="col s6 info__num">осталось {{numberShipments}} попыток</p>
                        </form>
                    </div>
                </div>
            </div>

            <div class="input__cont">
                <div class="row">
                    <table class="centered">
                        <thead>
                          <tr>
                              <th>Время отправки</th>
                              <th>ID</th>
                              <th>Пользователь</th>
                              <th>№ Задачи</th>
                              <th>Компилятор</th>
                              <th>Итог</th>
                              <th>Время</th>
                              <th>Память</th>
                              <th>№ Тест</th>
                              <th>Баллы</th>
                              <th>Отчет</th>
                          </tr>
                        </thead>
                
                        <tbody class="centered">
                            <tr v-for="answer in answers">
                                <td>{{answer.date_send | datePrint}}</td>
                                <td>{{answer.id}}</td>
                                <td>{{answer.user.sename}}</td>
                                <td>{{answer.id_task}}</td>
                                <td>{{answer.compilation.name_compilation}}</td>
                                <td>{{answer.total}}</td>
                                <td>{{answer.time}}</td>
                                <td>{{answer.memory_size}} Mb</td>
                                <td>{{answer.number_test}}</td>
                                <td>{{answer.points}}</td>
                                <td><a class="waves-effect waves-light btn deep-orange accent-4" type="button" v-on:click="loadReport(answer.id)">отчет</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./File/js/materialize.min.js"></script>
    <script type="text/javascript" src="./File/js/main.js"></script>
  </body>
</html>