<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="./File/css/main.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="./File/css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript" src="/eel.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="row">
        <div class="col s2 deep-orange accent-4 nav__left">
            <div class="row ">
                <h5 class="center-align header__main">Агу контест</h5>
            </div>
            <div class="row ">
                <h5 class="center-align header__name" id="name_contest"></h5>
            </div>
            <div class="section ">
                <ul class="collection with-header" id="list_tasks">
                </ul>
            </div>
            <div class="section">
                <p class="time__con" id="time_registration"></p>
                <p class="time__con" id="time_start"></p>
                <p class="time__con" id="time_end"></p>
                <p class="time__con" id="time_continuation"></p>
            </div>
            <div class="row ">
                <h5 class="center-align timer" id="timer_show"></h5>
                <div class="col s6 center">
                    <a class="waves-effect waves-light btn">Обявления</a>
                </div>
                <div class="col s6 center">
                    <a class="waves-effect waves-light btn">Завершить</a>
                </div>
            </div>
        </div>

        
        <div class="fixed-action-btn" id="posl">
            <a class="btn-floating btn-large waves-effect waves-light">
              <i class="large material-icons">chat</i>
            </a>
            <span class="red len__pos">3</span>
        </div>


        <div class="col s2" style="height: 100vh;"> </div>
        <div class="col s8 offset-s1">
            <div class="row">
                <h5 class="name__task left-align" id="name_test"></h5>
                <div class="container">
                    <table class="highlight">
                        <tbody>
                          <tr>
                            <td>Ограничение времени</td>
                            <td>Ограничение памяти</td>
                            <td>Ввод</td>
                            <td>Вывод</td>
                          </tr>
                          <tr>
                            <td id="time_work"></td>
                            <td id="size_raw"></td>
                            <td id="type_input"></td>
                            <td id="type_output"></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="row" id="description">
                <p class="op__task" >
                </p>
            </div>
            <div class="row">
                <h5 class="h__task left-align">Формат ввода</h5>
                <p class="op__task" id="description_input">
                </p>
            </div>
            <div class="row">
                <h5 class="h__task left-align">Формат вывода</h5>
                <p class="op__task" id="description_output">
                </p>
            </div>
            <div id="example">
            </div>

            <div class="input__cont">
                <div class="row">
                    <table class="centered">
                        <thead>
                          <tr>
                              <th>Условия</th>
                              <th>Необходимые тесты</th>
                          </tr>
                        </thead>
                
                        <tbody class="centered" id="test_tabel">
                          <tr>
                            <td>13.12.2021 20:57:48</td>
                            <td>200321</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="input__cont">
                <div class="row">
                    <div class="input-field col s4">
                        <select>
                        <option value="" disabled selected>Выбирите язык программирования</option>
                        <option value="1">Python</option>
                        <option value="2">C#</option>
                        <option value="3">C++</option>
                        </select>
                        <label>Язык программирования</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <form action="#">
                            <div class="file-field input-field">
                                <div class="btn select_file" id="programm_file">
                                    <span>Файл с программой</span>
                                    <input type="hidden">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" id="text_test_file">
                                </div>
                            </div>
                            <a class="waves-effect waves-light btn deep-orange accent-4 col s4" id="send_answer" type="button">Отправить</a>
                            <p class="col s6 info__num" id="count_answer"></p>
                        </form>
                    </div>
                </div>
            </div>

            <div class="input__cont">
                <div class="row">
                    <table class="centered">
                        <thead>
                          <tr>
                              <th>Время отправки</th>
                              <th>ID</th>
                              <th>Пользователь</th>
                              <th>№ Задачи</th>
                              <th>Компилятор</th>
                              <th>Итог</th>
                              <th>Время</th>
                              <th>Память</th>
                              <th>№ Тест</th>
                              <th>Баллы</th>
                              <th>Отчет</th>
                          </tr>
                        </thead>
                
                        <tbody class="centered" id="answer_body">
                          <tr>
                            <td>13.12.2021 20:57:48</td>
                            <td>200321</td>
                            <td>Влад</td>
                            <td>1</td>
                            <td>Python</td>
                            <td><span color="red">RE</span></td>
                            <td>125ms</td>
                            <td>4.45Mb</td>
                            <td>1</td>
                            <td>3</td>
                            <td><a href="#">отчет</a></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./File/js/materialize.min.js"></script>
    <script type="text/javascript" src="./File/js/main.js"></script>
  </body>
</html>