<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="./File/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="./File/css/main.css"/>
    <script type="text/javascript" src="/eel.js"></script>
    <title>Package</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="row">
      <div class="conatainer">
        <h5 class="h__task center-align">Журнал посылок</h5>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="input-field col s7">
          <select>
          <option value="" disabled selected>Выбирите номер задания</option>
          <option value="1">1 задание</option>
          <option value="2">2 задание</option>
          <option value="3">3 задание</option>
          </select>
          <label>Задания</label>
        </div>
        <div class="input-field col s5">
          <select>
          <option value="" disabled selected>Выбирите пользователя</option>
          <option value="1">Влад</option>
          </select>
          <label>Задания</label>
        </div>
      </div>
    </div>
    <div clsas="row">
      <div class="container">
        <table class="centered">
          <thead>
            <tr>
                <th>Время отправки</th>
                <th>ID</th>
                <th>Пользователь</th>
                <th>№ Задачи</th>
                <th>Компилятор</th>
                <th>Итог</th>
                <th>Время</th>
                <th>Память</th>
                <th>№ Тест</th>
                <th>Баллы</th>
                <th>Отчет</th>
            </tr>
          </thead>
  
          <tbody class="centered" id="answerBody">
           
          </tbody>
      </table>
      </div>
    </div>
    
    <script type="text/javascript" src="./File/js/materialize.min.js"></script>
    <script type="text/javascript" src="./File/js/otch.js"></script>
  </body>
</html>